@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .price-tag {
    @apply truncate text-lg font-medium text-neutral-800 sm:text-xl;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Poppins;
}
