@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .price-tag {
    @apply text-base font-medium text-neutral-800;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Poppins;
}
